.unit-container {
    padding: 3%;
    margin: 1%;
    font-family: 'museo-sans-rounded', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #4C4C4C;
    border-style: solid;
    border-width: 2px 2px 5px 2px;
    border-color: #DDDDDD;
    border-radius: 25px;
}

.scroll-container a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.unit-container:hover { 
    background-color: #F0F0F0;
    border-color: #CFCFCF;
  }

.image-container {
    margin-bottom: 10%;
    position: relative;
}

.image {
    width: 75%;
}

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 30px;
    text-align: center;
}